/* box-sizing for all elements for easier work with box-model */
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* iOS reset for rounded elements */
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
	appearance: none;
	border-radius: 0
}

/* headings & paragraph reset to keep margin-bottom-only styles consistent */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 10px;
}

/* reset default styles from element */
figure {
	margin: 0;
}