/* Breakpoints
$breakpoints is variable for include-media mixins http://include-media.com/
They are loaded by default from vendors/_include-media.scss */
$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);

/* Fonts */
$ff-base: Arial, sans-serif;

/* Colors */
$color-white: #ffffff;
$color-black: #000000;